<div class="navbar">
  <div>
    <%= link_to root_path do %>
      <%= image_tag 'pc_logo.png', class: 'logo' %>
    <% end %>
  </div>
  <div class="nav-links">
    <%= link_to 'SKILLS', skills_path %>
    <%= link_to 'PROJECTS', projects_path %>
    <%= link_to 'CONTACT', contact_path %>
  </div>
</div>
